// TYPE
$serif-stack: quatro-slab, Georgia, Times, serif;
$sans-stack: ff-dagny-web-pro, Helvetica, Arial, sans-serif;

// COLOR
$light: rgba(247,245,244,.95);
$dark: rgba(0,0,0,1);
$green: rgba(56,106,54,1);
