// TYPE
$serif-stack: quatro-slab, Georgia, Times, serif;
$sans-stack: ff-dagny-web-pro, Helvetica, Arial, sans-serif;

// COLOR
$light: rgba(247,245,244,.95);
$dark: rgba(25,25,25,1);
$green: rgba(32,76,40,1);

// Links
// -------------------------
$linkColor:             $green !default;
$linkColorHover:        darken($green, 15%) !default;
