@import "compass/css3";
@import "compass/css3/images";
@import "_variables.scss";

body{
  background: $light;
  font: {
    size: 100%;
    family: $sans-stack;
  }
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $serif-stack;
  }
}
.navbar {
  margin-bottom: 0;
  .brand {
    width: 50px;
    img {
      width: 50px;
    }
  }
  .nav > li > a {
    padding-top: 30px
  }
}

h1 {
  padding-top: .25em;
  line-height: 1.25em;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  color: $light;
  font-size: 4em;
}

#home {
  h1 {
    margin: 2em auto 0 auto;
    width: 80%;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
  }
}

.footer {
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

.container {
}

.content {
  background: $light;
  @include border-radius(5px);
  @include box-shadow(1px 1px 5px rgba(0,0,0,.25));
  padding: 1em 2em 2em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}