@import "compass/css3";
@import "compass/css3/images";

body{
  background: $dark;
  color: $dark;
  font: {
    size: 100%;
    family: $sans-stack;
  }
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $serif-stack;
  }
}

h1 {
  padding-top: .25em;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  color: $light;
  font-size: 2.5em;
}

a, a:visited {
  color: $green;
  text-decoration: none;
  @include transition(all .25s ease);
}
a:hover {
  opacity: .75;
  text-decoration: none;
}

header.container {
  background: $dark;
  opacity: .85;
  @include border-radius(5px);
  @include box-shadow(1px 1px 5px rgba(0,0,0,.25));
  padding: 1em 4em 2em 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  a {
    float: left;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
    font-size: 1.25em;
    font-weight: bold;
    padding-right: 1em;
    color: $light;
    img, span {
      float: left;
    }
    img {
      width: 80px;
    }
    span {
      padding-top: 1.5em;
      padding-left: .5em;
      font: {
        size: 1.5em;
        family: $serif-stack;
      }
    }
  }
  nav {
    float: right;
    padding-top: 2.5em;
    a {
      font-size: 1em;
      padding: .5em;
      margin-right: .5em;
      &.active {
        @include border-radius(5px);
        background: $green;
      }
    }
  }
}

.footer {
  color: rgb(255,255,255);
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.content {
  background: $light;
  @include border-radius(5px);
  @include box-shadow(1px 1px 5px rgba(0,0,0,.25));
  padding: 2em 4em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  background: rgba(0,0,0,.25);
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 4em 1.5em 4em;
}

#home {
  h1 {
    font-size: 3.5em;
    text-align: left;
    line-height: 1.5em;
  }

  .heading {
    padding: 2em 4em;
  }
}
