@import "compass/css3";
@import "compass/css3/images";
@import "_variables.scss";

body{
  font: {
    size: 100%;
    family: $sans-stack;
  }
  background: rgb(255,255,255);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $serif-stack;
  }
}
.navbar {
  margin-bottom: 0;
  .brand {
    width: 50px;
    img {
      width: 50px;
    }
  }
  .nav > li > a {
    padding-top: 30px
  }
}

header {
  margin: 0;
  width: 100%;
  height: 800px;
  h1 {
    position: absolute;
    text-align: left;
    color: #fff;
  }
}

.footer {
  padding-top: 1em;
  border-top: 1px solid #ccc;
}