<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title || "" %> | The Orange Community Garden</title>

    <%= stylesheet_link_tag "application" %>

    <script type="text/javascript" src="//use.typekit.net/mjh1jan.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a href="/" class="brand"><img src="/images/logo.png" alt="The Orange Community Garden"></a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/committees">Committees</a></li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12 footer">
          <p>&copy; 2012 The Orange Community Garden</p>
        </div>
      </div>
    </div>
    <%= javascript_include_tag  "application" %>
  </body>
</html>