<ul class="nav pull-right">
  <li><a href="/gardener-info/committees/"<%= active?('committees') %>>Committees</a></li>
  <li><a href="/gardener-info/rules/"<%= active?('rules') %>>Rules</a></li>
  <li><a href="/gardener-info/sources/"<%= active?('sources') %>>Sources</a></li>
</ul>