---
title: Welcome
primary: home
---
<h1>
  The Orange Community Garden aims to enhance the quality of urban life and strengthen community bonds by creating and sustaining a garden that fosters healthy eating, personal rejuvenation and education.
</h1>
