---
title: Rules
---

<ol>
  <li>
    <p>Garden plots will be assigned by the Community Gardeners on a first come, first received basis.  A waiting list will be maintained to record the date of requests that cannot be filled.  Assignments from the waiting list will be made in order of the date at which written requests are received.</p>
    <ol>
      <li>The City contacts the designated Community Gardener with the name and pertinent contact information.</li>
      <li>Community Gardeners contact the person (s) to take a tour of the garden.</li>
      <li>The new Lessee goes to the City to pay.</li>
      <li>The City gives the Lessee the Garden "Welcome Letter".</li>
    </ol>
  </li>
<li>Rule 2--The Community Garden Committee shall be the sole authority on all matters pertaining to who is the current occupant of each garden plot and to where boundaries between garden plots rightly lie.</li>
<li>Rule 3--Each garden plot is available for the sole, personal use of the gardener to whom the plot is assigned.  The gardener to whom it is assigned must work the plot.  All crops derived from a plot are the sole property of the gardener to whom it is assigned.  The City and the Community Gardeners are not responsible for items that are tampered with and/or stolen.</li>
<li>Rule 4-Other gardeners and/or visitors are prohibited from picking crops or damaging the crops of another gardener, (except with the gardener's express approval).  While friends or family members may provide incidental or temporary help to a  Lessee in maintaining their plot, it is the responsibility of the Lessee to actively maintain their assigned plot(s).  Failure to comply is grounds for termination of garden lease.</li>
<li>Rule 5-Each gardener is responsible for demonstrating at all times that their assigned plot(s) is being utilized as a garden and is regularly cared for.  A garden plot clear of weeds, trash, and debris demonstrate effective utilization and care.  If there are excessive weeds, designated Community Garden representatives will phone and/or e-mail, then send a written warning.  If help weeding is needed due to a gardener's illness or injury, Community Gardeners will help with weeding, if asked.  Course of action: 1. Phone call or e-mail will be sent.  2. A written warning will be sent.  3. Two weeks later a second letter will be sent.  4. Two weeks later a final letter will be sent telling the person that he/she has forfeited his-or-her plot.  The Community Gardeners will then weed the garden and the $100.00 deposit will go into the "Garden Emergency Fund" at the City to be used for unforeseen garden expenses.</li>
<li>Rule 6-No gardener shall carry out any gardening activities in such a way as to unreasonably interfere with the activities of neighboring gardeners.</li>
<li>Rule 7-Trees & shrubs taller than 6 feet are prohibited.  Trelises and plant supports shall be no higher than 8 feet tall.</li>
<li>Rule 8-Fences erected around garden plots must be no higher than 6 feet and be of such construction that they can be taken down at any time.  Fences also should be made of material that poses minimal danger to birds and blends in the environment.</li>
<li>Rule 9-Gardeners may not erect plot perimeter fencing of brightly colored materials such as orange or lime green.  The use of Mylar will be permitted to deter birds from the garden.  Mylar is not to be attached to the fence.</li>
<li>Rule 10-Gardeners may not place metallic streamers, neon-colored ribbons or flashers on fencing.</li>
<li>Rule 11-Gardeners may not maintain ponds in plots.</li>
<li>Rule 12-Furniture used in garden plots must be specifically designed for outdoor use.  Household and office furniture is prohibited.  Furniture that is broken or not deemed aesthetically pleasing by the Garden Community must be removed.  Small storage bins will be allowed to be placed in garden plots.  Storage bins may not be larger than 4 feet wide and no higher than 7 feet high.  A low profile storage bin cannot be more than 4 feet wide.  A high profile storage bin cannot be more than 3 feet wide.</li>
<li>Rule 13-Garden Plot renewal begins January 1st. Lessees who gardened the previous year have the option of renewing or canceling their Garden Plot Agreement with the City.  Gardeners are limited to three plots per resident.  (Regular fees per plot apply.)  Unclaimed plots may be reassigned after the January registration.  Lessees who choose not to renew their Community Garden Agreement must clear their plot(s) before January 1st.  At such time as all plots in the garden are occupied, new gardeners to the garden will be limited to no more than 2 plots on a first come first served basis.  One plot at a time will be awarded.  A gardener wishing to rent a second plot will be placed at the bottom of the list.</li>
<li>Rule 14-Full payment of annual garden plot fee is required at the time of submission of the Garden Plot Agreement.</li>
<li>Rule 15-The Community Garden is open from dawn until dusk, seven days a week.</li>
<li>Rule 16-Metal and/or wooden stakes throughout the site that are intended as permanent boundary markers and should not be moved.</li>
<li>Rule 17-Please dispose of weeds and plant materials in designated trash bin or composting area.</li>
<li>Rule 18-Be considerate of your neighbors and garden within your plot boundaries.  Do not plant sprawling crops or tall ones that might interfere with other plots.  Harvest only from your assigned plot.</li>
<li>Rule 19-All plots are subject to inspections by the City.</li>
<li>Rule 20-Using herbicides is prohibited.  The use of plastic mulches will be allowed.  There is a required level of maintenance for its use.  If the black plastic mulch is not maintained to the satisfaction of the City, removal will be required.</li>
<li>Rule 21-While in the Community Garden, animals/pets are expected to be leashed and supervised at all times.</li>
<li>Rule 22-Children and visitors are expected to be supervised at all times and are expected to be considerate and not disturb other gardeners and their plants.  Damage done to other gardeners plots may result in forfeiture of lease.  </li>
<li>Rule 23-The Community Garden bulletin board  will be maintained by the Community Gardeners.  Three designated members will hold the keys.  Any Community Gardener is welcome to post messages or information pertaining to the garden or items of interest about gardens.</li>
<li>Rule 24-Unless using an automated watering system, unattended watering is not permitted.  Gardeners should water or enter only the garden plot that is assigned to them.  Before leaving the Community Garden, gardeners are expected to check faucets to ensure water is turned off.  Gardeners are expected to notify the City immediately of any leaks in the water line.</li>
<li>Rule 25-No trash or debris of any kind should be left at the site.  Before leaving the Community Garden, gardeners are expected to deposit trash and debris in the designated trash bin, as well as, ensure their plot area is neat and tidy.  The garden trash bin is for trash generated at the Garden only.  No household waste is to be placed in the garden trash bin.</li>
<li>Rule 26-If for any reason a Lessee is no longer able to maintain their plot(s), written notice must be given to the Community Garden Board with explanation of how the plot will be cleared.</li>
<li>Rule 27-Community Garden gates are to be closed at all times.  The last gardener is responsible for locking the gate as he/she leaves.</li>
<li>Rule 28-It is understood and agreed upon by both parties that the premises in question shall be used solely for gardening purposes, and that no structures or other permanent improvements shall be constructed.</li>
<li>Rule 29-The City of Orange Community Garden is a drug, tobacco, and alcohol free area.  Smoking is not allowed in the garden.  The growth of illegal narcotics is strictly prohibited.</li>
<li>Rule 30-If assigned a plot bordering the outside perimeter, it is understood that there must be a two-foot clearance from the perimeter fence/wall.</li>
</ol>